/*https://www.asciiart.eu/text-to-ascii-art*/
html,body{
    overflow-x: hidden;
}
@font-palette-values --Nabla {
	font-family: Nabla;
    override-colors:
    0 #90ee90,
    1 #000f00,
    2 #90ee90,
    3 #000f00,
    4 #000f00,
    5 #000f00,
    6 #000f00,
    7 #000f00,
    8 #000f00,
    9 #000f00;
	/*base-palette: 5;*/
}




a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }



.project-media{
    width: 213px; 
    height:120px;
    text-align: center;
    object-fit: contain;

}
.asciititle{
    color: #90ee90;
    justify-content: center;
    font-family: 'Courier New', monospace;
    text-align: center;
    font-size: 0.8vw;
    line-height:0.9;
}

.asciiquickimagelink{
    color: #90ee90;
    justify-content: center;
    font-family: 'Courier New', monospace;
    text-align: center;
    padding-bottom: 10vh;
    font-size: 0.8vw;
    line-height:0.9;
}


.nabladivabout {
    letter-spacing: -1vw;
    font-size: 5vw;
    height: 0vh;
    float: left;
    width: 16.666666666666666666666666666%;
    padding: 10px;
    rotate: -30deg
}
.nabladivprojects {
    letter-spacing: -1vw;
    font-size: 5vw;
    height: 0vh;
    float: left;
    width: 20%;
    padding: 10px;
    rotate: -30deg
}
.nabladivskills {
    letter-spacing: -1vw;
    font-size: 5vw;
    height: 0vh;
    float: left;
    width: 16.666666666666666666666666666%;
    padding: 10px;
    rotate: -30deg
}

.nabladivresume {
    letter-spacing: -1vw;
    font-size: 5vw;
    height: 0vh;
    float: left;
    width: 16.666666666666666666666666666%;
    padding: 10px;
    rotate: -30deg
}

.nabladivitg {
    letter-spacing: -1vw;
    font-size: 5vw;
    height: 0vh;
    float: left;
    width: 10%;
    padding: 10px;
    rotate: -30deg
}

.nabladivgrind{
    letter-spacing: -1vw;
    font-size: 5vw;
    height: 0vh;
    float: left;
    width: 20%;
    padding: 10px;
    rotate: -30deg
}

.mynabla1 {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-palette: --Nabla;
    font-variation-settings:
      "EDPT" var(--thickness1),
      "EHLT" var(--highlights1);
    
  }

.mynabla2 {
font-family: "Nabla", system-ui;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-palette: --Nabla;
font-variation-settings:
    "EDPT" var(--thickness2),
    "EHLT" var(--highlights2);
}

.mynabla3 {
font-family: "Nabla", system-ui;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-palette: --Nabla;
font-variation-settings:
    "EDPT" var(--thickness3),
    "EHLT" var(--highlights3);
}




.sectionHeader{
    color: darkgreen;
    background: radial-gradient(#000000, #000000);
    display: flex;
    justify-content: center;
    font-size: 0.5vw; 
    font-family: 'Courier New', monospace;
    line-height:0.9;
    padding-top:40px;
    padding-bottom:40px;
}


.header{

    color: darkgreen;
    display: flex;
    justify-content: center;
    font-size: 3.2vw;
    font-family: 'Courier New', monospace;
    text-align:center;
    font-size: 14px;
    font-weight: 700;

}


/* Create two equal columns that floats next to each other */
.column {
    justify-content: center;

    float: left;
    width: 50%;
    padding: 10px;
  }
  
/* Clear floats after the columns */
  .row:after {
    justify-content: center;
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
    .infotext{
        font-size:2vw;
        text-align: left

    }
    .title{
        font-size: 5vw;
        padding-top: 50vh;
        font-palette: --Nabla;

        /*height: 120vh;*/
    }
    .aftertitle{
        padding-left:25%;
        padding-right:25%
    }

        
}

@media screen and (min-width: 601px) {
    .infotext{
        font-size:2vw;
        text-align: left
    } 
    .title{
        padding-top: 15vh;
        font-size: 6vw;
    }
    .aftertitle{
        padding-left:25%;
        padding-right:25%
    }



}


.infotext{
    background-color: black;
    background-size: auto;
    color: white;
    text-align: left;
    font-family: "Courier New", monospace;
   /* font-weight: 700;*/
    font-size: 14px;
    font-style: normal;

}


