/*https://www.asciiart.eu/text-to-ascii-art*/
html,body{
    overflow-x: hidden;
}




a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.ascii-margin{
    font-size: 30px;
    padding-left: 0%;
    padding-right: 0%;
    display: flex; 
    justify-content: space-around;
    flex-wrap: nowrap;
}

.ascii-margin > div, .ascii-margin > a {
    flex: 1;
    text-align: center;
}


.project-media{
    width: 213px; 
    height:120px;
    text-align: center;
    align-items: stretch;
    object-fit: contain;

}
.asciititle{
    color: #90ee90;
    justify-content: center;
    font-family: 'Courier New', monospace;
    text-align: center;
    font-size: 0.8vw;
    line-height:0.9;
}

.asciiquickimagelink{
    color: #90ee90;
    justify-content: center;
    font-family: 'Courier New', monospace;
    text-align: center;
    padding-bottom: 10vh;
    font-size: 0.8vw;
    line-height:0.9;
}

.leftlinks{
    float: right;

}
.rightlinks{
    float: left;

}

.asciiart{
    color:white;
    font-size:12px;
}

.handjet{
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-variation-settings:
      "ELGR" 1,
      "ELSH" var(--styleNum);
    color:#90ee90;
    font-size: 5vw;
    rotate: 0deg;
  }


.blog-entry{
    margin-left:10%;
    margin-right:10%;
    margin-bottom:5%;
}

.sectionHeader{
    color: #90ee90;
    background: radial-gradient(#000000, #000000);
    display: flex;
    justify-content: center;
    font-size: 0.5vw; 
    font-family: 'Courier New', monospace;
    line-height:0.9;
    padding-top:40px;
    padding-bottom:40px;
}


.header{

    color: #90ee90;
    display: flex;
    justify-content: center;
    font-size: 3.2vw;
    font-family: 'Courier New', monospace;
    text-align:center;
    font-size: 14px;
    font-weight: 700;

}


/* Create two equal columns that floats next to each other */
.column {
    justify-content: center;
    float: left;
    width: 50%;
    padding: 10px;
    text-align: center
  }
  
/* Clear floats after the columns */
  .row:after {
    justify-content: center;
    content: "";
    display: table;
    clear: both;
    text-align: center
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
    .infotext{
        font-size:2vw;
        text-align: left

    }

    .normal-margin{
        padding-left:25%;
        padding-right:25%
    }

    /*handjet*/
    .handjet{
        display:none;

    }
        
}

@media screen and (min-width: 601px) {
    .infotext{
        font-size:2vw;
        text-align: left;
    } 
    .title{
        padding-top: 15vh;
        font-size: 6vw;
    }
    .normal-margin{
        padding-left:25%;
        padding-right:25%
    }



}


.infotext{
    background-color: black;
    background-size: auto;
    color: white;
    text-align: left; /*causing formatting issues with the row and column classes*/
    font-family: "Courier New", monospace;
   /* font-weight: 700;*/
    font-size: 14px;
    font-style: normal;

}


