/*https://www.asciiart.eu/text-to-ascii-art*/

@font-palette-values --Nabla {
	font-family: Nabla;
    override-colors:
    0 #00FF00,
    1 #000000,
    2 #FFFFFF,
    3 #000000,
    4 #000000,
    5 #000000,
    6 #000000,
    7 #000000,
    8 #000000,
    9 #000000;
	/*base-palette: 5;*/
}




a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }



.asciititle{
    color: lightgreen;
    justify-content: center;
    font-family: 'Courier New', monospace;
    text-align: center;
    padding-bottom: 20vh;
    font-size: 1vw;
    line-height:1;
}


.nabladivabout {
    letter-spacing: -1vw;
    font-size: 5vw;
    height: 0vh;
    float: left;
    width: 16.666666666666666666666666666%;
    padding: 10px;
    rotate: -30deg
}
.nabladivprojects {
    letter-spacing: -1vw;
    font-size: 5vw;
    height: 0vh;
    float: left;
    width: 20%;
    padding: 10px;
    rotate: -30deg
}
.nabladivskills {
    letter-spacing: -1vw;
    font-size: 5vw;
    height: 0vh;
    float: left;
    width: 16.666666666666666666666666666%;
    padding: 10px;
    rotate: -30deg
}

.nabladivresume {
    letter-spacing: -1vw;
    font-size: 5vw;
    height: 0vh;
    float: left;
    width: 16.666666666666666666666666666%;
    padding: 10px;
    rotate: -30deg
}

.nabladivitg {
    letter-spacing: -1vw;
    font-size: 5vw;
    height: 0vh;
    float: left;
    width: 13.3333333333333333333333333%;
    padding: 10px;
    rotate: -30deg
}

.nabladivrun{
    letter-spacing: -1vw;
    font-size: 5vw;
    height: 0vh;
    float: left;
    width: 16.666666666666666666666666666%;
    padding: 10px;
    rotate: -30deg
}
.mynabla1 {
    font-family: "Nabla", system-ui;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-palette: --Nabla;
    font-variation-settings:
      "EDPT" var(--thickness1),
      "EHLT" var(--highlights1);
    
  }
.mynabla2 {
font-family: "Nabla", system-ui;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-palette: --Nabla;
font-variation-settings:
    "EDPT" var(--thickness2),
    "EHLT" var(--highlights2);
}
.mynabla3 {
font-family: "Nabla", system-ui;
font-optical-sizing: auto;
font-weight: 400;
font-style: normal;
font-palette: --Nabla;
font-variation-settings:
    "EDPT" var(--thickness3),
    "EHLT" var(--highlights3);
}




.sectionHeader{
    color: rgb(255, 255, 255);
    background: radial-gradient(#000000, #111111);
    display: flex;
    justify-content: center;
    font-size: 5vw; 
    font-family: 'Press Start 2P'


}






.header1{

    color: lightgreen;
    display: flex;
    justify-content: center;
    font-size: 2vw;
    text-align:center;

}


.header2{

    color: lightgreen;
    display: flex;
    justify-content: center;
    font-size: 3.2vw;
    font-family: 'Tektur', cursive;
    text-align:center;
}


/* Create two equal columns that floats next to each other */
.column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
/* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
    .infotext{
        font-size:3vw;

    }
    .title{
        font-size: 5vw;
        padding-top: 50vh;
        font-palette: --Nabla;

        /*height: 120vh;*/
    }
    .aftertitle{
        padding-left: 20vh;

        font-size: 6vw;
        height: 200%;
        justify-content: right;
    }

        
}

@media screen and (min-width: 601px) {
    .infotext{
        font-size:2vw;

    } 
    .title{
        padding-top: 15vh;
        font-size: 6vw;
    }
    .aftertitle{
        padding-top: 0vh;
        height: 50vh;
        justify-content: right;
    }



}


.infotext{
    background-color: rgb(43, 43, 43);
    background-size: auto;
    color: bisque;
    text-align: center;
    font-family: 'Tektur', cursive;
}


.list1{
    list-style-image: url("")
}


