
.parallax1 {
    /* The image used */
    background-image: url("pictures/IMG_1471.JPG");
  
    /* Set a specific height */
    min-height: 500px; /*work on scaling next*/
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }



  .parallax2 {
    /* The image used */
    background-image: url("pictures/IMG_2257.jpg");
  
    /* Set a specific height */
    min-height: 700px; /*work on scaling next*/
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }