.parallax2:hover,.parallax3:hover,.parallax4:hover,.parallax5:hover{
  opacity: 100%;
  
}


.parallax1 {
    /* The image used */
    background-image: url("pictures/playground.jpg");
    opacity: 30%;

    /* Set a specific height */
    min-height: 500px; /*work on scaling next*/
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;

  }



  .parallax2 {
    /* The image used */
    background-image: url("pictures/carterandi.jpg");
    opacity: 30%;
    
    /* Set a specific height */
    min-height: 700px; /*work on scaling next*/
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;

  }



  .parallax3 {
    /* The image used */
    background-image: url("pictures/soundvoltex.jpg");
    opacity: 30%;
    /* Set a specific height */
    min-height: 700px; /*work on scaling next*/
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;

  }


  .parallax4 {
    /* The image used */
    background-image: url("pictures/ddrdoubles.gif");
    opacity: 30%;
    /* Set a specific height */
    min-height: 700px; /*work on scaling next*/
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;

  }


  .parallax5 {
    /* The image used */
    background-image: url("pictures/pads.JPG");
    opacity: 30%;
    /* Set a specific height */
    min-height: 700px; /*work on scaling next*/
    
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;

  }
  

  .parallax6 {
    /* The image used */
    background-image: url("pictures/code.png");
    opacity: 30%;
    /* Set a specific height */
    min-height: 400px; /*work on scaling next*/
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.3s;

  }